:root {
  /* --var: value */
  --dark-violet: hsl(278, 68%, 11%);
  --dark-gray-violet: hsl(279, 6%, 55%);
  --light-gray-violet: hsl(270, 3%, 87%);
  --primary-gradient: hsl(249, 99%, 64%);
  --secondary-gradient: hsl(278, 94%, 30%);
  --error-red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%); 
}

/* Accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 18px;
  max-width: 1440px;
}

.site-container {
  min-width: 375px;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  display: grid;
  grid-template-rows: auto 1fr 200px;
  grid-template-columns: 1fr;
}

@media(min-width: 991px){
  main {
    grid-template-rows: 1fr auto;
    grid-template-columns: .5fr 1fr;
  }
}

.section__card {
  background-image: url('/assets/images/bg-main-mobile.png');
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  
}

@media(min-width: 991px){
  .section__card {
    min-height: 240px;
    height: 100%;
    grid-row: span 2;
  }
}

.card-date-display {
  display: inline-block;
}

/*  */

.section__form {
  padding-top: 90px;
}

@media (min-width: 991px){
  .section__form {
    align-self: center;
    padding-top: 0;
  }
}

form,
.confirmation-container {
  width: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media(min-width: 600px){
  form,
  .confirmation-container {
    width: 380px;
  }
}

form { 
  row-gap: 1.25rem;
}

input, button {
  width: 100%;
}

input {
  border: 1px solid var(--light-gray-violet);
  border-radius: .5rem;
  padding: .5rem .75rem;
}

input::-webkit-input-placeholder {
  color: var(--light-gray-violet);
}

input::-moz-placeholder {
  color: var(--light-gray-violet);
}

input:-ms-input-placeholder {
  color: var(--light-gray-violet);
}

input::-ms-input-placeholder {
  color: var(--light-gray-violet);
}

input::placeholder {
  color: var(--dark-gray-violet);
  font-size: 1rem;
}

button {
  margin-top: .625rem;
  padding: .625rem 0;
  border: 1px solid var(--dark-violet);
  border-radius: .5rem;
  background-color: var(--dark-violet);
  color: var(--white);
}

label,
.error-text {
  display: block;
}

.form-label-text {
  margin-bottom: .5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .75rem;
}

.error-text {
  font-size: .75rem;
  margin-top: .45rem;
  display: none;
}

.card-name-input-wrapper {

}

.card-meta-container,
.card-dates-container,
.card-dates-inner-container {
  display: flex;
}

.card-meta-container {
  -moz-column-gap: .75rem;
       column-gap: .75rem;
}

.card-dates-inner-container {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.card-dates-container {
  flex-direction: column;
  flex-basis: 48%;
}

.card-cvc-input-wrapper {
  flex-basis: 49%;
}

.confirmation-container {
  text-align: center;
  display: none;
}

.confirmation-container img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.confirmation-text-wrapper {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.confirmation-text-wrapper p:first-of-type {
  color: var(--dark-violet);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 1.75rem;
}

.confirmation-text-wrapper p:last-of-type {
  margin-top: 1rem;
  color: var(--dark-gray-violet);
}


footer {
  align-self: flex-end;
  padding-bottom: 1rem;
  
}

@media(min-width: 991px){
  footer {
    grid-column: 2/3;
  }
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
}

.fm-byline,
.fm-byline a {}
