:root {
  --dark-violet: hsl(278, 68%, 11%);
  --dark-gray-violet: hsl(279, 6%, 55%);
  --light-gray-violet: hsl(270, 3%, 87%);
  --primary-gradient: hsl(249, 99%, 64%);
  --secondary-gradient: hsl(278, 94%, 30%);
  --error-red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%); 
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 16px;
  max-width: 1440px;
}

.site-container {
  min-width: 375px;
}

main {
  display: grid;
  grid-template-rows: auto 1fr 200px;
  grid-template-columns: 1fr;
  height: 100vh;
}

@media(min-width: 1199px){
  main {
    grid-template-rows: 8fr 1fr;
    grid-template-columns: 30% 1fr;
  }
}

form,
.card-container,
.confirmation-container {
  width: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media(min-width: 600px){
  form,
  .confirmation-container {
    width: 380px;
  }
}

.section__card {
  background-image: url('/assets/images/bg-main-mobile.png');
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  position: relative;
}

@media(min-width: 1199px){
  .section__card {
    background-image: url('/assets/images/bg-main-desktop.png');
    min-height: 700px;
    height: 100vh;
    grid-row: span 2;
  }
}

.card-container {
  position: relative;
}

.card {
  width: 285px;
  height: 155px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media(min-width: 1199px){
  .card {
    width: 400px;
    height: 220px;
  }
}

.card__front {
  background-image: url('/assets/images/bg-card-front.png');
  padding: 1.25rem;
  position: absolute;
  top: 120px;
  right: 55px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
}

@media(min-width: 1199px){
  .card__front {
    padding: 2rem;
    top: 140px;
    right: -100px;
    row-gap: 3rem;
  }
}

.card__back {
  background-image: url('/assets/images/bg-card-back.png');
  position: absolute;
  top: 32px;
  right: 1px;
  z-index: 1;
}

@media(min-width: 1199px){
  .card__back {
    top: 405px;
    right: -175px;
  }
}

#card-number-display {
  font-size: 1.125rem;
  letter-spacing: 2px;
}

@media(min-width: 1199px){
  #card-number-display {
    font-size: 1.65rem;
  }
}

#card-cvc-display {
  font-size: .75rem;
  position: absolute;
  z-index: 2;
  top: 67px;
  right: 40px;
}

@media(min-width: 1199px){
  #card-cvc-display {
    top: 99px;
    right: 60px;
  }
}

.card__front img {
  width: 50px;
}

@media(min-width: 1199px){
  .card__front img {
    width: 85px;
  }
}

.card-meta-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .75rem;
}

.card-meta-text-wrapper span {
  font-size: .65rem;
  text-transform: uppercase;
}

@media(min-width: 1199px){
  .card-meta-text-wrapper span {
    font-size: .875rem;
  }
}

.card-date-display {
  display: inline-block;
}

.section__form {
  padding-top: 90px;
}

@media (min-width: 1199px){
  .section__form {
    /* align-self: center; */
    padding-top: 0;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
  }
}

form { 
  row-gap: 1.25rem;
}

input, button {
  width: 100%;
}

input {
  border: 1px solid var(--light-gray-violet);
  border-radius: .5rem;
  padding: .5rem .75rem;
}

input:focus {
  outline: 1px solid var(--primary-gradient);
}

input.error-input:focus{
  outline: 1px solid var(--error-red);
}

/* Remove input field arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-input-placeholder {
  color: var(--light-gray-violet);
}

input::-moz-placeholder {
  color: var(--light-gray-violet);
}

input:-ms-input-placeholder {
  color: var(--light-gray-violet);
}

input::-ms-input-placeholder {
  color: var(--light-gray-violet);
}

input::placeholder {
  color: var(--dark-gray-violet);
  font-size: 1rem;
}

button {
  margin-top: .625rem;
  padding: .625rem 0;
  border: 2px solid var(--dark-violet);
  border-radius: .5rem;
  background-color: var(--dark-violet);
  color: var(--white);
  opacity: 1;
  transform: scale(1);
  transition: opacity .2s linear, transform .2s linear;
}

button:hover {
  opacity: .875;
  transform: scale(1.02);
}

label,
.error-text {
  display: block;
}

.error-state {
  color: var(--error-red);
}

.error-input {
  border: 1px solid var(--error-red);
}

.form-label-text {
  margin-bottom: .5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .75rem;
}

.error-text {
  font-size: .75rem;
  margin-top: .45rem;
  display: none;
}

.card-meta-container,
.card-dates-container,
.card-dates-inner-container {
  display: flex;
}

.card-meta-container {
  -moz-column-gap: .75rem;
       column-gap: .75rem;
}

.card-dates-inner-container {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.card-dates-container {
  flex-direction: column;
  flex-basis: 48%;
}

.card-cvc-input-wrapper {
  flex-basis: 49%;
}

.confirmation-container {
  text-align: center;
  display: none;
}

.confirmation-container img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.confirmation-text-wrapper {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.confirmation-text-wrapper p:first-of-type {
  color: var(--dark-violet);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 1.75rem;
}

.confirmation-text-wrapper p:last-of-type {
  margin-top: 1rem;
  color: var(--dark-gray-violet);
}

footer {
  align-self: flex-end;
  padding-bottom: 1rem;
}

@media(min-width: 1199px){
  footer {
    grid-column: 2/3;
  }
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
}

.fm-byline,
.fm-byline a {
  color: var(--dark-violet);
}
