/* Accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* Content */

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.card-date-display {
  display: inline-block;
}

label,
.error-text {
  display: block;
}

.error-text {
  display: none;
}

.card-meta-container,
.card-dates-container,
.card-dates-inner-container {
  display: flex;
}

.card-meta-container {
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.card-dates-inner-container {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.card-dates-container {
  flex-direction: column;
}

.confirmation-container {
  display: none;
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
}

.fm-byline,
.fm-byline a {}
